body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.container{
    margin-top: 100px;
    margin-left: 620px;
}

.sketch-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 70vh;
    width: 75vh;
}


.grid-size{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.size-output{
    display: flex;
    justify-content: center;
}

.columns{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
}

.grids{
    border: 1px solid black;
    flex: 1 0 0;
}

.change-color{
    background-color: red;
}